/*------------------------------------------------------------------------------
     Global Documentation Styles
------------------------------------------------------------------------------*/

body {
  font: 16px "Helvetica Neue", arial,freesans,clean,sans-serif;
  line-height: 28px;
  background-color: #fff;
  color: #393939;
}

p {
  margin: 0.3em 0;
}

h1 {
  font-size: 1.2em;
  padding: .5em 0;
  margin: 2em 0 1em;
  font-weight: normal;
}

body:not(.enterprise) .enterprise-only {
  display: none;
}
body.dev-mode .enterprise-only {
  border: 3px solid red;
}
body.dev-mode .not-enterprise {
  border: 3px dashed blue;
}
body.dev-mode.enterprise .not-enterprise {
  display: none;
}

.content h1 {
  font-weight: 300;
  -webkit-backface-visibility: hidden;
  font-size: 2em;
  margin: 0em 0 0.5em;
  position: relative;
  line-height: 30px;
}

.header-anchor {
  position: absolute;
  left: -32px;
  top: 0;
  opacity: 0;
  padding: 0 5px 0 10px;
  height: 100%;
  width: 20px;
  font: normal normal 16px/20px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  color: #333;

  -webkit-transition: opacity 0.3s ease-in-out 0s;
  -moz-transition: opacity 0.3s ease-in-out 0s;
  transition: opacity 0.3s ease-in-out 0s;
}

h1 .header-anchor {
  line-height: 55px;
}

.content h1:hover .header-anchor, .content h2:hover .header-anchor, .content h3:hover .header-anchor, .content h4:hover .header-anchor, .header-anchor:hover {
  opacity: 1;
  text-decoration: none;
}

.header-anchor:before {
  content:'\f0c1';
  font-family: 'FontAwesome';
  font-size: 0.8em;
}

h2 {
  font-size: 1.3em;
  color: #333;
  margin: 2em auto 1em;
  position: relative;
  font-weight: 300;
}

h2 span.step {
  color: #666;
}

h3 {
  font-size: 1.1em;
  color: #333;
  margin: 1.5em 0 .5em;
  position: relative;
}

h4 {
  font-size: 1.3em;
  font-weight: 300;
  margin: 1em 0;
  position: relative;
}

h5 {
  font-size: 1.1em;
  font-weight: 300;
  font-style: italic;
  margin: 1em 0;
  position: relative;
}

h6 {
  font-size: 0.6em;
  color: #666;
}

a {
  color: #4183C4;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration:underline;
}

blockquote {
  margin:0 -5px;
  padding: 0px 20px;
}

dt {
  font-weight: bold;
}

dd {
  padding-left: 1em;
  margin-bottom: 1em;
}

dd + dd {
  margin-bottom: 0;
}

a img {
  border: 0px;
}

.button, .button-secondary {
  background-color: #297fc7;
  color: #fff;
  font-size: 0.8em;
  padding: 15px;
  border-radius: 5px;
}

.button:hover {
  text-decoration: none;
  background-color: #3088d0;
}

.button-secondary {
  background-color: #738797;
  font-size: 0.7em;
  padding: 12px;
  -webkit-backface-visibility: hidden;
}

.button-secondary:hover {
  text-decoration: none;
  background-color: #7e909e;
}

.rss-subscribe {
  display: block;
  padding: 15px 14px 16px 47px;
  background: url(/images/feed-icon.png) 10px center no-repeat;
  color: #444;
  font-size: 0.6em;
  text-decoration: none;
}

.rss-subscribe:hover {
  background-color: #f4f4f7;
  text-decoration: none;
}

.facebook-subscribe {
  display: block;
  padding: 15px 14px 16px 47px;
  background: url(/images/facebook-icon.png) 10px center no-repeat;
  color: #444;
  font-size: 0.6em;
  text-decoration: none;
}

.facebook-subscribe:hover {
  background-color: #f4f4f7;
  text-decoration: none;
}

/********************/
/*  Form elements   */
/********************/

label, input, button, select, textarea {
    font-size: 0.6em;
    line-height: 1.4
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer
}

label.error {
    font-size: 0.6em;
    font-weight: normal;
    cursor: auto;
    color: #c44
}

label small {
    font-weight: normal;
    color: #999
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"], input[type="email"],
input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
.uneditable-input {
    display: inline-block;
    width: 100%;
    height: 36px;
    padding: 7px 9px;
    margin-bottom: 10px;
    font-size: 0.6em;
    line-height: 1.4;
    color: #333;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input, .uneditable-input {
    width: 206px
}

textarea {
    height: auto
}

textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"], input[type="email"],
input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
.uneditable-input {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border linear .2s, box-shadow linear .2s
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(66, 129, 202, 0.7);
    outline: 0;
    outline: thin dotted \9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(66, 129, 202, 0.3)
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal
}

input[type="file"], input[type="image"], input[type="submit"],
input[type="reset"], input[type="button"], input[type="radio"],
input[type="checkbox"] {
    width: auto
}

select, input[type="file"] {
    height: 36px;
    line-height: 36px
}

select {
    border: 1px solid #ccc;
    background-color: #fff
}

select[multiple], select[size] {
    height: auto
}

.form-field-error {
    color: #bd2c00;
    font-size: 0.6em;
    text-shadow: 0 1px 1px #FFF
}

.radio, .checkbox {
    min-height: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-weight: normal
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: left;
    margin-top: 3px;
    margin-left: -20px
}

.checkbox-btn {
    display: inline-block;
    padding: 7px 12px;
    font-weight: normal;
    background-color: #f9f9f9;
    background-image: -moz-linear-gradient(#fff, #f9f9f9);
    background-image: -webkit-linear-gradient(#fff, #f9f9f9);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#f9f9f9')";
    border: 1px solid #e5e5e5;
    border-radius: 4px
}

.checkbox-btn input[type="checkbox"] {
    float: left;
    margin-left: 0;
    margin-right: 8px
}

.form-actions {
    margin-top: 30px;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5
}

.form-actions p {
    line-height: 35px
}

.inline-fields label, .inline-fields input {
    margin-bottom: 0
}

.inline-fields label {
    display: inline-block
}

.inline-fields input {
    width: auto
}

.input-group {
    display: table;
    margin-bottom: 7px;
    width: 100%
}

.input-group:after {
    content: "";
    display: table;
    clear: both
}

.input-group input, .input-group .input-group-button {
    display: table-cell
}

.input-group input {
    border-radius: 4px 0 0 4px;
    margin-bottom: 0;
    width: 100%
}

.input-group .input-group-button {
    width: 1%
}

.input-group button {
    border-radius: 0 4px 4px 0;
    margin-left: -1px
}

.form-note {
    font-size: 0.55em;
    color: #999;
    margin: -5px 0 15px
}

label .note {
    color: #777;
    display: block;
    font-weight: normal;
    margin: 5px 0 10px 16px
}

.form-extras {
    display: none
}

[class^="btn"] {
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    font-weight: bold;
    line-height: 1;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    background-color: #eeeeee;
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -webkit-linear-gradient(#fff, #eee);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#eeeeee')";
    background-repeat: repeat-x;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    vertical-align: middle
}

[class^="btn"]:hover, .zeroclipboard-is-hover {
    text-decoration: none;
    background-position: 0 -15px
}

[class^="btn"]:active, [class^="btn"].active, .zeroclipboard-is-active {
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)
}

.btn-small {
    font-size: 0.55em;
    padding: 5px 10px
}

.btn-large {
    padding: 14px 20px;
    font-size: 1.1em;
    border-radius: 6px
}

.btn-block {
    display: block
}

[class^="btn"].disabled {
    background-image: none;
    box-shadow: none;
    opacity: .5;
    cursor: default
}

.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #1d6ac8;
    background-image: -moz-linear-gradient(#45b3f3, #1d6ac8);
    background-image: -webkit-linear-gradient(#45b3f3, #1d6ac8);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#45b3f3', endColorstr='#1d6ac8')";
    border-color: #1d6ac8 #1d6ac8 #1a5eb2
}

.btn-primary:active {
    border-color: #17529b
}

.btn-success {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #60b044;
    background-image: -moz-linear-gradient(#8add6d, #60b044);
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8add6d', endColorstr='#60b044')";
    border-color: #74bb5a #74bb5a #509338
}

.btn-danger {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #b33630;
    background-image: -moz-linear-gradient(#cd5f59, #b33630);
    background-image: -webkit-linear-gradient(#cd5f59, #b33630);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd5f59', endColorstr='#b33630')";
    border-color: #cd504a
}

.btn-link {
    color: #4281ca;
    text-shadow: none;
    background-image: none;
    background-color: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
    border-color: #e5e5e5;
    box-shadow: none
}

.btn-link:hover {
    color: #fff;
    background-color: #4281ca;
    border-color: #4281ca
}

.btn-link:active {
    border-color: #3068a9
}

[class^="btn"] [class^="octicon-"] {
    vertical-align: -1px
}

.btn-group .btn {
    border-radius: 0;
    float: left
}

.btn-group .btn:first-child {
    border-radius: 3px 0 0 3px
}

.btn-group .btn:last-child {
    border-radius: 0 3px 3px 0
}

.btn-group .btn:not(:first-child) {
    margin-left: -1px
}
/* @end */


/*------------------------------------------------------------------------------
     Header Styles
------------------------------------------------------------------------------*/

#header-wrapper {
  margin-bottom: 0;
  width: 100%;
  clear: both;
  height: 61px;
  background: url(../images/header.png) 0 0 repeat-x;
}

#header {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

#header .logo {
  float: left;
  margin-top:17px;
  width: 186px;
  height: 27px;
  background: url(/images/logo.png) 0 0 no-repeat;
  text-indent: -999em;
}

#header .nav {
  float: right;
  font-weight: bold;
  text-shadow: white 1px 1px 0px;
  font-size: 0.65em;
  margin-right: 10px;
}

#header .nav li {
  margin-top: 20px;
  display: inline-block;
  list-style-type: none;
  line-height: 1.4em;
}

#header .nav a {
  color: #515151;
  outline: none;
  text-decoration: none;
  padding: 0 15px;
  -webkit-transition: color 0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0s;
}

#header .nav a:hover {
  color: #327fc7;
}


/*------------------------------------------------------------------------------
     Features
------------------------------------------------------------------------------*/

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.wrapper:before, .wrapper:after {
  content: " ";
}

.wrapper:after {
  clear: both;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

#footer {
  position: relative;
  bottom:0;
  font-size:0.6em;
  color: #636363;
  margin: 0 auto;
  max-width: 980px;
  clear: both;
}

#footer a:hover {
  text-decoration: underline;
}

#footer .mega-octicon {
  color: #ccc;
  font-size: 2em;
}

#footer .mega-octicon:hover {
  color: #bbb;
  text-decoration: none;
}

.lower_footer {
  border-top: 1px solid #ddd;
  padding: 30px 0;
}

.footer-cell {
  display: table-cell;
  text-align: center;
  width: 10%;
  vertical-align: middle;
}

.footer-cell:first-child {
  text-align: left;
  padding-left: 0;
}

.footer-cell:last-child {
  text-align: right;
  padding-right: 0;
}

.footer-cell:last-child li {
  margin: 0 0 0 20px;
  padding-right: 0;
}

.footer-cell li {
  display: inline;
  margin-right: 20px;
  list-style: none;
}

#footer .wrapper {
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 20px 0;
}

/* end */

/*------------------------------------------------------------------------------
    Not Footer
------------------------------------------------------------------------------*/
#wrapper {
  padding: 10px 0;
  height: auto;
  max-width: 980px;
  margin: 0 auto;
}

#wrapper:after, #wrapper:before {
  content: " ";
  display: table;
}

#wrapper:after {
  clear: both;
}

.content {
  width: 630px;
  position: relative;
  float: left;
  color: #393939;
  z-index: 2;
}

.blog .content {
  margin-bottom: 5px;
}

.content dt {
  color: #666;
}

.content ol {
  margin-left: 1.5em;
}

.content ul {
  margin: 0.3em 1.5em;
  list-style-type: disc;
}

.content dd ul {
  margin-top: 0;
}

.content li {
  margin: 0.5em 0;
}

.content img {
  max-width: 100%;
  margin: 12px 0;
}

/* Taken from Help in order to show images in ordered lists inline */
ol {
  counter-reset: li;
  list-style: none;
  position: relative;
  padding-bottom: 10px;
}
ol > li {
  padding: 5px 0 5px 55px;
  position: relative;
  margin-bottom: 5px;
}
ol > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30px;
  padding: 0 10px 0 0;
  color: #999;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 35px;
  text-align: right;
  border-right: 1px solid #ddd;
}
ol > li > p:first-child {
  margin-top: 0;
}
ol > li:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.content ol > li img {
  max-width: 100px;
  margin: 0 0 0 10px;
  float: right;
  border: 1px solid #ddd;
  cursor: pointer;
}
.content ol > li img.expanded {
  max-width: 400px;
}

.content .full-image {
  position: absolute;
  top: 5px;
  right: -20px;
  z-index: 100;
}
.content .full-image img {
  position: absolute;
  top: 0;
  right: 20px;
  margin: 0;
  max-width: 600px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.content .full-image:hover .octicon, .full-image:hover .mini-icon {
  color: #666;
}
.content .full-image .octicon, .full-image .octicon-remove-close {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #999;
  cursor: pointer;
}

.content .description {
  margin-left: 20px;
}

.content .verseblock-content {
  padding: 3px;
}

.content .verseblock-content,
.content .sectionbody .dlist dt,
.content p > tt,
.content dl code,
.content ul code,
p code {
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 0px 3px;
  display: inline-block;
}

.content .sectionbody .dlist dt {
  margin-top: 10px;
}

.content .verseblock-content {
  padding: 3px;
}

.content .intro {
  color: #868686;
}

.content table {
  width: 100%;
  overflow: auto;
  display: block;
  margin: 15px 0;
}

.content thead {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.content table th {
  border: 1px solid #ddd;
  padding: 6px 13px;
  font-weight: bold;
  text-align: center;
}

.content tbody {
  vertical-align: middle;
  border-color: inherit;
}

.content table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
  vertical-align: inherit;
}

.content table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

/* @end */

/********************/
/*  Retina support  */
/********************/

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {

  #header-wrapper {
    background-image: url(../images/header@2x.png);
    background-size: 8px 61px;
  }

  #header .logo {
    background-image: url(/images/logo@2x.png);
    background-size: 186px 27px;
  }

  #searchfield {
    background-image: url(/images/search@2x.png);
    background-size: 13px 13px;
  }

  .cancel-search {
    background-image: url(/images/cancel@2x.png);
    background-size: 14px 14px;
  }

  .sidebar-module .arrow-btn {
    background-image: url(/images/expand-arrows@2x.png);
    background-size: 73px 80px;
  }
  .rss-subscribe {
    background-image: url(/images/feed-icon@2x.png);
    background-size: 28px 28px;
  }

}

/* @end */


/********************/
/*  Social buttons  */
/********************/

/* This gets Google to fall into place */
.social-share {
 font-size: 1px;
}

/* This gets Facebook to fall into place */
.social-share iframe {
  vertical-align: middle;

}
.fb-like{
 margin-right:20px;
}
.fb-share-button{
 margin-right:20px;
}
/* Set an optional width for your button wrappers */
.social-share span {
  display: inline-block;
  width: 110px;
}

/* Adjust the widths individually if you like */
.social-share .google {
  width: 75px;
}

/* @end */
.quotes {
  font-weight: 340;
  font-size: 1em;
  line-height: 1.2em;
  color:#333;
  margin-bottom: 0.1em;
}
.author {
  font-size:0.8em;
  color:#666;
  margin-top: 0.1em;
  margin-bottom: 1em;
}

@media screen and (max-width: 1024px) {
  .content {

  }
  .content, .sidebar-shell {
    margin-left: 10px;
    margin-right: 10px;
    width: 95%;
  }
}
